
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
    padding: 1rem 0;
}

.subtitle > span,
.subtitle {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    max-width: 30rem;
}

.header {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
    color: var(--darkblue);
    text-align: center;
}

.header__selection {
    isolation: isolate;
    position: relative;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
    animation: mark-text 300ms ease-in 2s forwards;
}

.header__selection::before {
    content: "";
    display: block;
    background-color: var(--red);
    position: absolute;
    height: 100%;
    left: -5%;
    top: 0;
    z-index: -1;
    animation: mark 300ms ease-in 2s forwards;
}

.separator {
    display: flex;
    align-items: center;
    gap: .3rem;
    width: 80%;
    max-width: 30rem;
    margin: .5rem auto 0;
}

.separator__line {
    flex-grow: 1;
    border: 1px solid var(--grayishblue);
    height: 1px;
    width: 2rem;
}


.button {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    appearance: none;
    border: none;
    background-color: var(--red);
    border-radius: var(--rounded-1);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: var(--white);
}

.electoral-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;    
    column-gap: 1rem;
    width: 95%;
    margin: 0 auto;
}

.national-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    place-items: center;
    width: 100%;
    margin-bottom: 2.5rem;
}

.logo {
    margin-top: 1.5rem;
    border-radius: 50%;

}

@media (min-width: 1240px) {
    .electoral-grid {
        grid-template-columns: 1fr 1fr;
        max-width: 1000px;
    }

    .national-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/*Animations*/

@keyframes mark-text {
    from {
        color: var(--darkblue);
    }
    to {
        color: var(--white);
    }
}

@keyframes mark {
    from {
        width: 0;
    }
    to {
        width: 110%;
    }
}
